[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule ".vimperator/vimppm"]
	path = .vimperator/vimppm
	url = https://github.com/cd01/vimppm.git
